/* // Style for cookie */

.cookie_wrapper{
  position: fixed;
  bottom: 40px;
  right: 40px;
  max-width: 340px;
  background: #fff;
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  text-align: center;
  z-index: 299;
}
.cookie_wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection{
  color: #fff;
  background: #FCBA7F;
}
.cookie_wrapper img{
  max-width: 100%;
}
.cookie_content header{
  font-size: 20px;
  font-weight: 600;
}
.cookie_content{
  margin-top: 10px;
}
.cookie_content p{
  font-size: 14px;
  color: #858585;
  margin: 5px 0 20px 0;
}
.cookie_content .cookie_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cookie_buttons button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #2AD2FD;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background: #1B1C37;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cookie_buttons button:hover{
  transform: scale(0.97);
}
.cookie_buttons .cookie_item{
  margin: 0 10px;
}
.cookie_buttons a{
  font-size:14px;
  color: #1B1C37;
}

/* style for firstheader */
.firstnavbar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  padding: 0 60px;
  background: #eaeaea;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  margin: auto auto 10px auto;
}

.firstnavbar .links {
  display: flex;
  padding: 0;
}

.firstnavbar .links a{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #1B1C37;
  font-size: 12px;
  text-transform: capitalize;
  margin: auto;
  padding: 0 10px 0 0;
}

.firstnavbar .links a:hover {
text-decoration: none;
color: #2AD2FD;
}

.firstnavbar .social-firstnav i {
  padding: 0 0 0 10px;
}

.firstnavbar .social-firstnav a {
  color: #666666;
}
.firstnavbar .social-firstnav a:hover {
  color: #2AD2FD;
}

@media (max-width:460px) {
  .firstnavbar .links {
    display: none;
  }
}

/* // Style for hero */

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "left right";
  flex-direction: column;
  align-items: flex-start;
}

.left {
  grid-area: left;
  position: relative;
 }

 span.header_title {
   display: block;
   color:#ffffff;
   text-decoration: none;
   font-weight: 700;
   text-shadow: 1px 1px #333;
   max-width: 97%;
 }

 span.header_title.latest {
   font-size: 24px;
 }

 span.header_title.second {
   font-size:16px;
 }

 span.header_title.thirdfour {
   font-size: 12px;
 }

.hero-text {
  float: left;
}

.hero-text > a {
  display: inline-block;
}

.hero-text.latest {
  position: absolute;
  top: 265px;
  left: 10px;
  line-height: 160%;
}

.hero-text.second {
  position: absolute;
  top: 135px;
  left: 5px;
  line-height: 140%;
}

.hero-text.thirdfour {
  position: absolute;
  top: 45px;
  left: 5px;
  line-height: 120%;
}

.hero-author {
  display: block;
  color: #ffffff;
  text-shadow: 1px 1px #333;
}

.hero-post-author {
  font-size: 12px;
}

.hero-post-date {
  font-size: 12px;
}

.right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "second"
    "bottom-right";
  grid-area: right;
  position: relative;
  align-items: flex-start;


}

.second {
  grid-area: second;
  position: relative;
 }

 .second .hero-image {
  height:240px;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
 }

.bottom-right {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "third four";
  grid-area: bottom-right;
}

.third {
  grid-area: third;
  position: relative;
 }

 .third .hero-image {
   height:140px;
   width:100%;
   background-size: cover;
   background-repeat: no-repeat;
 }

.four {
  grid-area: four;
  position: relative;
 }

 .hero-categories .hero-tags {
   display: block;
 }

 a.hero-categories {
   width: max-content;
   font-size: 10px;
   text-transform: uppercase;
   background-color: #1B1C37;
   border-radius: 3px;
   opacity: 90%;
   color: #2AD2FD;
   font-weight: 600;
   padding: 0px 3px;
   margin-bottom: 3px;
 }

 a.hero-tags {
   width: max-content;
   font-size: 10px;
   text-transform: uppercase;
   background-color: #FF3D00;
   border-radius: 3px;
   opacity: 90%;
   color: #fff;
   font-weight: 600;
   padding: 0px 3px;
   margin-bottom: 3px;
 }


@media (max-width: 1200px) {
a.hero-categories {
  font-size: 9px;
}

}

 @media (max-width: 1024px) {
    .hero-container {
        grid-template-columns: 1fr;
        row-gap:5px;
        height: 665px;
        grid-template-areas: "left"
                             "right";
    }
    /* .right {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 140px;
      grid-template-areas: "second bottom-right";
      column-gap: 5px;
    } */
  .second .hero-image {
      height: 140px;
    }
    .hero-text.second {
      top:45px;
      line-height: 120%;
    }

    span.header_title.second {
      font-size: 12px;
    }

    a.hero-categories {
      font-size: 8px;
    }
  }

@media (max-width: 768px) {
.hero-author {
  display: none;
}
}

@media (max-width: 500px) {
  span.header_title.second, span.header_title.thirdfour {
    font-size: 8px;
  }
}

/* css horizontal ticker */

.ticker-wrapper-h{
  display: flex;
  position: relative;
  overflow: hidden;
  height:42px;
  box-shadow:0 3px 15px -5px rgba(0,0,0,0.2);
  border-radius:5px;
  margin-bottom: 20px;
}

.ticker-wrapper-h .heading{
  background:#2AD2FD;
  color: #1B1C37;
  font-weight: 600;
  padding: 10px 10px;
  flex: 0 0 auto;
  z-index: 10;
  float:left;
  font-size: 13px;
  /* margin:4px 14px 4px 4px; */
  text-align:center;
  border-radius:5px 0px 0px 5px;
}

.news-ticker-h{
  display: flex;
  margin:0;
  padding: 0;
  padding-left: 90%;
  z-index: 8;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tic-h;
  animation-duration: 30s;

}
.news-ticker-h:hover {
  animation-play-state: paused;
}

.news-ticker-h li{
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
}

.news-ticker-h li a{
  font-size: 13px;
  color: #212529;
  font-weight: bold;
}

@keyframes tic-h {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* Second header */
.secondheader {
  position:relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1440px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 0 60px;

}
.secondheader .sitetag {
  font-weight:300;
  line-height:1.3;
  font-size:18px;
  color: #666;
}

/* footer */
footer{
  width: 100%;
  position: relative;
  background: #1B1C37;
  /* background: linear-gradient(90deg, #1B1C37 45%, #2AD2FD); */
  box-shadow: 0 -5px 15px rgb(0 0 0 / 30%);
  margin: 30px auto auto auto;
  max-width: 1440px;
}
footer .footcontent{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footcontent a{
  color: #fff;
  font-size: 12px;
}
footer .footcontent .footbox{
  width: 33%;
  transition: all 0.4s ease;
}
footer .footcontent .foottopic{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .footcontent p{
  color: #fff;
  font-size: 12px;
  text-align: justify;
}
footer .footcontent .footlower .foottopic{
  margin: 24px 0 5px 0;
}
footer .footcontent .footlower i{
  padding-right: 16px;
}
footer .footcontent .footmiddle{
  padding-left: 80px;
}
footer .footcontent .footmiddle a{
  line-height: 32px;
}
footer .footcontent .footright input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #1B1C37;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #2AD2FD;
}
footer .footcontent .footright input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #2AD2FD;
  outline: none;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 0px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.footcontent .footright input[type="submit"]:hover{
  background: none;
  color:  #2AD2FD;
}
footer .footcontent .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.footcontent .media-icons a:hover{
  border-color: #2AD2FD;
}
footer .footbottom{
  width: 100%;
  text-align: left;
  color: #d9d9d9;
  padding: 0 0 5px 60px;
}

footer .footbottom p {
  font-size: 12px;
}

footer .footbottom a{
  color: #2AD2FD;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #2AD2FD;
}
@media (max-width:1100px) {
  footer .footcontent .footmiddle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .footcontent .footbox{
    width: 50%;
  }
  .footcontent .footright{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .footcontent .footbox{
    width: 100%;
    margin-top: 30px;
  }
  footer .footcontent .footmiddle{
    padding-left: 0;
  }
}
/* end footer */


@media (max-width:920px) {
  .secondheader {
    max-width: 100%;
  }
}

@media (max-width:768px) {
  .secondheader .sitetag {
    font-size: 12px;
  }
}

/* principal menu */

nav {
  width: 100%;
  height: 50px;
  z-index: 99;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Sticky menu padding */
.sticky + .site-content {
  padding-top:100px;
}

.sticky + .site-content .publicity {
  padding-top: 60px;
}

/* end sticky */

nav .navbar{
  height: 100%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  background: linear-gradient(90deg, #1B1C37 45%, #2AD2FD);
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
  z-index: 99;
}
.navbar .logo a{
  font-size: 30px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 50px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  padding: 0;
}

nav .navbar .links li{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: #2AD2FD;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #2AD2FD;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
nav .navbar .links li a:hover {
  color: #2AD2FD;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 50px;
  left: 0;
  line-height: 40px;
  background: #cccccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  padding: 0;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}

.navbar .links li .sub-menu li{
  padding: 0 32px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #1B1C37;
  font-size: 13px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #1B1C37;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box i:hover {
  color: #1B1C37;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #eaeaea;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 60px;
  opacity: 1;
  pointer-events: auto;
  background: #eaeaea;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #eaeaea;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.input-box .search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 38px;
    background-color: rgba(155,155,155,0.03);
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid rgba(155,155,155,0.2);
    border-radius: 2px;
    transform: translate(-50%, -50%);
  }

.input-box .search-input {
    width: 100%;
    color: #333;
    margin: 0;
    padding: 0 10px;
    background-color: rgba(0,0,0,0);
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
  }

.input-box .search-action {
    background-color: #2AD2FD;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    padding: 0 12px;
    margin: 0;
    border: 0;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom-width: 2px;
    border-radius: 2px;
  }

.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .fa-bars{
  display: none;
}

/* bug with submenu superior to 1024px inferior to 1200 display none */
@media only screen and (min-width:1024px) and (orientation: landscape) {
/* nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: none;
} */

nav .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}


/* @media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 ;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
} */
@media (max-width:1024px){
  nav{
    position: relative;
  }
  .navbar .fa-bars{
    display: block;
  }

  .navbar .fa-bars::before {
  color: #2AD2FD;
  }

  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #eaeaea;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .fa-bars{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    /* display: block; */
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
nav .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}

@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
}
}
