{%- assign translate = site.data.locales.alert %}
{%- if include.type == "warning" %}
<div class="alert alert-warning no_toc_section" role="alert">
  <div class="alert-icon">
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div class="alert-text">
    <h4>{{ translate.warning[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link %}
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "help" %}
<div class="alert alert-help no_toc_section" role="alert">
  <div class="alert-icon">
    <i class="fas fa-question-circle"></i>
  </div>
  <div class="alert-text">
    <h4>{{ translate.help[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link %}
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "info" %}
<div class="alert alert-info no_toc_section" role="alert">
  <div class="alert-icon">
    <i class="fas fa-info-circle"></i>
  </div>
  <div class="alert-text">
    <h4>{{ translate.info[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link %}
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "error" %}
<div class="alert alert-danger no_toc_section" role="alert">
  <div class="alert-icon">
    <i class="fas fa-times-circle"></i>
  </div>
  <div class="alert-text">
    <h4>{{ translate.error[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link %}
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "success" %}
<div class="alert alert-success no_toc_section" role="alert">
  <div class="alert-icon">
    <i class="fas fa-check-circle"></i>
  </div>
  <div class="alert-text">
    <h4>{{ translate.success[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link %}
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>
{%- endif %}