{%- assign translate = site.data.locales.alert %}
{%- if include.type == "warning" %}
<div class="alert alert-warning" role="alert">
  <div class="alert-icon">
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div class="alert-text">
    <h4 class="no_toc">{{ translate.warning[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link != empty %}
    <hr>
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "help" %}
<div class="alert alert-help" role="alert">
  <div class="alert-icon">
    <i class="fas fa-question-circle"></i>
  </div>
  <div class="alert-text">
    <h4 class="no_toc">{{ translate.help[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link != empty %}
    <hr>
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "info" %}
<div class="alert alert-info" role="alert">
  <div class="alert-icon">
    <i class="fas fa-info-circle"></i>
  </div>
  <div class="alert-text">
    <h4 class="no_toc">{{ translate.info[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link != empty %}
    <hr>
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "error" %}
<div class="alert alert-danger" role="alert">
  <div class="alert-icon">
    <i class="fas fa-times-circle"></i>
  </div>
  <div class="alert-text">
    <h4 class="no_toc">{{ translate.error[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link != empty %}
    <hr>
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>

{%- elsif include.type == "success" %}
<div class="alert alert-success" role="alert">
  <div class="alert-icon">
    <i class="fas fa-check-circle"></i>
  </div>
  <div class="alert-text">
    <h4 class="no_toc">{{ translate.success[page.locale] }}</h4>
    <p>{{ include.text }}</p>
    {%- if include.link != empty %}
    <hr>
    <a href="{{ include.link }}" class="alert-link">{{ include.textlink }}</a>
    {%- endif %}
  </div>
</div>
{%- endif %}