{%- if site.google_analytics.id != empty and site.google_analytics.id %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics.id }}');
</script>
{%- endif %}

{%- if site.goatcounter_analytics.id != empty and site.goatcounter_analytics.id }
<!-- Goatcounter -->
<script data-goatcounter="{{ site.goatcounter_analytics.id }}"
        async src="//gc.zgo.at/count.js"></script>
{%- endif %}