{% assign translate = site.data.locales.translate %}
{% assign categories = include.path | split:"/" %}
{% assign filename_without_extension = categories | last | split:"." | first %}
{% if categories contains "_posts" or filename_without_extension == "index" %}
{% assign categories = categories | pop %}
{% endif %}
{% assign route="" %}
<nav class="ariane">
<ol class="arianefil" itemscope itemtype="https://schema.org/BreadcrumbList">
<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  {%- assign pages = site.pages | where: 'locale_reference', 'index' | where: 'locale', page.locale %}
  {% for page in pages limit:1 %}
<a itemprop="item" href="{{ page.url | remove: 'index.html' | absolute_url }}"><span itemprop="name">{{ translate.home[page.locale] }}</span></a><meta itemprop="position" content="1"></li>
{% endfor %}
{%- assign categories = page.categories %}
{% for category in categories %}
<li><span class="prompt">&nbsp; > &nbsp;</span></li>
{% assign route = route | append: '/' | append: category %}
{% if forloop.last %}
{% if include.title %}{{include.title}}{% else %}{{ category }}{% endif %}
{% else %}
<li class="breadcrumb-item" itemprop="itemListElement" itemscope
itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ site.url }}{{ site.baseurl }}/{{ page.locale | slice: 0,2 }}/category/{{ category | downcase }}"><span itemprop="name">{{ category }}</span></a><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
{% endif %}
{% endfor %}


{% if page.layout == 'page' or page.layout == 'firstheader' %}
{% assign crumbs = page.url | split: '/' %}
{% assign crumbstotal = crumbs | size %}
{% for crumb in crumbs offset:2 %}
{% unless crumb == 'index.html' %}
<li><span class="prompt">&nbsp; > &nbsp;</span> </li>
<li class="breadcrumb-item" itemprop="itemListElement" itemscope
itemtype="http://schema.org/ListItem"><span itemprop="name">{{ crumb | remove: '.html' }}</span><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"> </li>
{% endunless %}
{% endfor %}
{% endif %}
</ol>
</nav>
