{%- assign translate = site.data.locales.translate %}
{%- assign categories = include.path | split:"/" %}
{%- assign filename_without_extension = categories | last | split:"." | first %}
{%- if categories contains "_posts" or filename_without_extension == "index" %}
{%- assign categories = categories | pop %}
{%- endif %}
{%- assign route="" %}
<nav class="ariane">
<ol class="arianefil" itemscope itemtype="https://schema.org/BreadcrumbList">
<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  {%- assign pages = site.pages | where: 'locale_reference', 'index' | where: 'locale', page.locale %}
  {%- for page in pages limit:1 %}
<a itemprop="item" href="{{ page.url | remove: 'index.html' | absolute_url }}"><span itemprop="name">{{ translate.home[page.locale] }}</span></a><meta itemprop="position" content="1"></li>
{%- endfor %}
{%- assign categories = page.categories %}
{%- for category in categories %}
<li><span class="prompt">&nbsp; > &nbsp;</span></li>
{%- assign route = route | append: '/' | append: category %}
{%- if forloop.last %}
{%- if include.title %}{{include.title}}{%- else %}{{ category }}{%- endif %}
{%- else %}
{%- if page.layout == 'post' %}
{%- if page.locale == "fr_FR" %}
<li class="breadcrumb-item" itemprop="itemListElement" itemscope
itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ site.url }}{{ site.baseurl }}/{{ page.locale | slice: 0,2 }}/categorie/{{ category | downcase }}"><span itemprop="name">{{ category }}</span></a><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
{%- elsif page.locale == "en_GB" %}
<li class="breadcrumb-item" itemprop="itemListElement" itemscope
itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ site.url }}{{ site.baseurl }}/{{ page.locale | slice: 0,2 }}/category/{{ category | downcase }}"><span itemprop="name">{{ category }}</span></a><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
{%- endif %}
{%- elsif page.layout == 'product' %}
{%- if page.locale == "fr_FR" %}
<li class="breadcrumb-item" itemprop="itemListElement" itemscope
itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ site.url }}{{ site.baseurl }}/{{ page.locale | slice: 0,2 }}/categorie-produit/{{ category | downcase }}"><span itemprop="name">{{ category }}</span></a><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
{%- elsif page.locale == "en_GB" %}
<li class="breadcrumb-item" itemprop="itemListElement" itemscope
itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ site.url }}{{ site.baseurl }}/{{ page.locale | slice: 0,2 }}/category-product/{{ category | downcase }}"><span itemprop="name">{{ category }}</span></a><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
{%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}

{%- if page.layout == 'page' or page.layout == 'firstheader' or page.layout == 'category' %}
{% assign crumbs = page.url | split: '/' %}
{% assign crumbs_total = crumbs | size | minus: 2 %}
{% for crumb in crumbs offset: 1 %}
    {% if forloop.index == crumbs_total %}
    <li><span class="prompt">&nbsp; > &nbsp;</span></li>
    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
    itemtype="http://schema.org/ListItem"><span itemprop="name">{{page.title}}</span><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
    {% else %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        {% capture crumb_url %}{% for c in crumbs limit: crumb_limit %}{{ c | append: '/' }}{% endfor %}{% endcapture %}
        {% capture crumb_with_index %}{{ crumb_url | append: 'index.html' }}{% endcapture %}
        {% capture current_page %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
        {% for p in site.pages %}
            {% if crumb_with_index != current_page and crumb_with_index == p.url %}
            <li><span class="prompt">&nbsp; > &nbsp;</span></li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
            itemtype="http://schema.org/ListItem"><span itemprop="name"><a href="{{ crumb_with_index }}"><span itemprop="name">{{ crumb | replace:'-',' ' | capitalize}}</span></a><meta itemprop="position" content="{{ forloop.index | plus: 1 }}"></li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{%- endif %}
</ol>
</nav>