<div class="button-5" role="button">
  <a href="https://www.aliexpress.com/item/{{ page.item }}.html">Buy Now</a>
</div>

<style>


  /* CSS */
  .button-5 a{
    align-items: center;
    background-clip: padding-box;
    background-color: #ff6600;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 50%;
  }

  .button-5 a{
    color:#fff;
    cursor: pointer;
    user-select: none;

  }

  .button-5 :hover,
  .button-5 :focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .button-5 :hover {
    transform: translateY(-1px);
  }

  .button-5 :active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
</style>
