  <div class="cookie_wrapper">
    <picture>
    <source srcset="{{ site.baseurl }}/assets/images/cookie-90.webp" type="image/webp" width='90' height='90'>
    <img src="{{ site.baseurl }}/assets/images/cookie-90.png" alt="cookie logo" width='90' height='90'>
</picture>
    <div class="cookie_content">
      <header>{{ translate.cookie.title[page.locale] }}</header>
      <p>{{ translate.cookie.content[page.locale] }}</p>
      <div class="cookie_buttons">
        <button class="item">{{ translate.cookie.accept[page.locale] }}</button>
        {%- assign pages = site.pages | where: 'locale_reference', 'gdpr' | where: 'locale', page.locale %}
        {% for page in pages limit:1 %}
        <a href="{{ site.baseurl }}{{ page.url }}#cookies" class="cookie_item">{{ translate.cookie.read-more[page.locale] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
