<div class="contentlink">
{%- if include.pdf -%}
<a href="/assets/images/posts/{{ page.guid }}/{{ include.pdf }}" target="_blank">{{ include.title }}</a><i class="icor file-pdf-regular"></i>
{%- elsif include.docx -%}
<a href="/assets/images/posts/{{ page.guid }}/{{ include.docx }}" target="_blank">{{ include.title }}</a><i class="icor file-word-regular"></i>
{%- elsif include.csv -%}
<a href="/assets/images/posts/{{ page.guid }}/{{ include.csv }}" target="_blank">{{ include.title }}</a><i class="icor file-csv-solid"></i>
{%- elsif include.xls -%}
<a href="/assets/images/posts/{{ page.guid }}/{{ include.xls }}" target="_blank">{{ include.title }}</a><i class="icor file-excel-regular"></i>
{%- elsif include.zip -%}
<a href="/assets/images/posts/{{ page.guid }}/{{ include.zip }}" target="_blank">{{ include.title }}</a><i class="icor file-archive-regular"></i>
{%- elsif include.torrent -%}
<a href="/assets/images/posts/{{ page.guid }}/{{ include.torrent }}" target="_blank">{{ include.title }}</a><i class="icor laugh-solid"></i>
{%- endif -%}
</div>


