{% assign views_fr = site.data.views.fr_FR %}
{% assign views_en = site.data.views.en_GB %}
{% assign sorted_posts = site.posts | where:'locale', page.locale | where: 'published', true | sort: 'views' | reverse %}
{% for post in sorted_posts limit: 5 %}
{% if page.locale == "fr_FR" %}
{% assign post_data = views_fr | where: 'guid', post.guid | first %}
{% elsif page.locale == "en_GB" %}
{% assign post_data = views_en | where: 'guid', post.guid | first %}
{% endif %}
<div class="featured-post">
        <div class="featured-picture">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {%- if post.image %}
                {%- if post.image contains "://" %}{{ post.image }}{%- else %}{% picture box posts/{{ post.guid }}/{{ post.image }} 183:103 --alt {{ post.title }} --img width="366" height="206" %}{%- endif %}
                {%- endif %}
            </a>
        </div>
        <div class="featured-title">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
        </div>
    </div>
{% endfor %}

<style>
    .featured-post {
        display:flex;
        flex-direction: row;
    }
</style>

