{%- if page.guid <= 999 %}
{%- if page.image %}
<div class="entry-featured-image">
    {%- if site.lazyimages == "enabled" %}
    <img itemprop="image" class="featured-image lazyimg {%- if page.imageshadow %} image-shadow {%- endif %}" src="data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{%- if page.image contains "://" %}{{ page.image }}{%- else %}{{site.url}}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}-944.webp{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
    {%- else %}
    <img itemprop="image" class="featured-image {%- if page.imageshadow %} image-shadow {%- endif %}" src="{%- if page.image contains "://" %}{{ page.image }}{%- else %}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}-944.webp{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
    {%- endif %}
</div>
{%- endif %}
{%- elsif page.guid >= 2000 %}
{%- if page.image %}
<div class="entry-featured-image">
    {%- if site.lazyimages == "enabled" %}
    <img itemprop="image" class="featured-image lazyimg {%- if page.imageshadow %} image-shadow {%- endif %}" src="data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{%- if page.image contains "://" %}{{ page.image }}{%- else %}{{site.url}}{{ site.baseurl }}/assets/images/shop/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
    {%- else %}
    <img itemprop="image" class="featured-image {%- if page.imageshadow %} image-shadow {%- endif %}" src="{%- if page.image contains "://" %}{{ page.image }}{%- else %}{{ site.baseurl }}/assets/images/shop/{{ page.guid }}/{{ page.image }}-944.webp{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
    {%- endif %}
</div>
{%- endif %}
{%- endif %}
