{%- assign menu = site.data.locales.menu %}
    <div class="firstnavbar">
        <div class="links">
          {%- assign pages = site.pages | where: 'locale_reference', 'index' | where: 'locale', page.locale %}
          {%- for page in pages limit:1 %}
          <a href="{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">{{ page.title }}</a>
          {%- endfor %}
          {%- assign navigation_pages = site.pages
            | where: 'layout', 'firstheader'
            | where: 'locale', page.locale
            | where: 'published', true
            | sort: 'order' %}
          {%- for navigation_page in navigation_pages %}
        <a href="{{ site.baseurl }}{{ navigation_page.url }}">{{ navigation_page.title }}</a>
           {%- endfor %}
          {%- include flag.html %}
          </div>
      <div class="social-firstnav">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" target="_blank" alt="twitter link" aria-label="{{ menu.share.twitter[page.locale].name }}"><i class="icob twitter" width="1em" height="1em" aria-hidden="true" title="twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCcXJ1ZsjEvQxuWJy7gH-A6w/?sub_confirmation=1" onclick="window.open(this.href, 'width=550,height=435');return false;" aria-label="{{ menu.share.youtube[page.locale].name }}"><i class="icob youtube" width="1em" height="1em" target="_blank" alt="youtube" aria-hidden="true" title="youtube"></i></a>
        <a href="https://discord.gg/FaK6MuZ2" onclick="window.open(this.href, 'width=550,height=435');return false;" aria-label="{{ menu.share.discord[page.locale].name }}"><i class="icob discord" width="1em" height="1em" target="_blank" alt="discord" aria-hidden="true" title="discord"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;" target="_blank" alt="facebook" aria-label="{{ menu.share.facebook[page.locale].name }}"><i class="icob facebook-f" width="1em" height="1em" aria-hidden="true" title="facebook"></i></a>
      </div>
    </div>
