{%- assign translate = site.data.locales.translate %}
{%- assign menu = site.data.locales.menu %}

<footer>
   <div class="footcontent">
     <div class="footleft footbox">
       <div class="footupper">
         <div class="foottopic">{{ translate.footer.about[page.locale] }}</div>
         <p>{{ translate.footer.description[page.locale] }}</p>
       </div>
       <div class="footlower">
         <div class="foottopic">{{ translate.footer.contact[page.locale] }}</div>
         <div class="phone">
           <a href="#"><i class="icos phone-volume-solid"></i>+0033 6 99 40 15 86</a>
         </div>
         <div class="email">
           <a href="{{ site.baseurl }}/{{ menu.contact[page.locale].link }}"><i class="icos envelope-solid"></i>{{ menu.contact[page.locale].name }}</a>
         </div>
       </div>
     </div>
     <div class="footmiddle footbox">
       <div class="foottopic">{{ translate.footer.linku[page.locale] }}</div>
       <div><a href="{{ site.baseurl }}/{{ menu.gdpr[page.locale].link }}">{{ menu.gdpr[page.locale].name }}</a></div>
       <div><a href="{{ site.baseurl }}/{{ menu.legalnotice[page.locale].link }}">{{ menu.legalnotice[page.locale].name }}</a></div>
       <div><a target="_blank" href="https://buildwithmatter.com/">Protocole Matter</a></div>
       <div><a target="_blank" href="https://zigbeealliance.org/fr/%C3%A9v%C3%A9nements/">Zigbee Alliance</a></div>
       <div><a target="_blank" href="https://z-wavealliance.org/category/z-wave-in-the-news/">Z-wave Alliance</a></div>
       <div><a target="_blank" href="https://www.aqara.com/eu/news.html">Aquara by Xiaomi</a></div>
       <div><a target="_blank" href="https://itead.cc/">Itead Sonoff, Nextion</a></div>
      </div>
     {%- if site.mailchimp-list %}
     <!-- Newsletter
     ================================================== -->
     <div class="footright footbox">
       <div class="foottopic">{{ translate.footer.newsletter[page.locale] }}</div>
       <form action="{{site.mailchimp-list}}" method="post" name="embedded-mail" target="_blank">
         <input type="email" placeholder="{{ translate.footer.inputmail[page.locale] }}" name="EMAIL">
         <input type="submit" name="{{ translate.footer.submit.name[page.locale] }}" value="{{ translate.footer.submit[page.locale] }}" id="submit">
        </form>
     <!-- Social icon
     ==================================================-->
         <div class="media-icons">
           <!-- <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" aria-label="{{ menu.share.twitter[page.locale].name }}"><i class="icob twitter" aria-hidden="true" title="twitter"></i></a> -->
           <a href="https://github.com/haade-administrator/haade.fr/discussions" target="_blank" alt="github discussion link" aria-label="{{ menu.share.github[page.locale].name }}"><i class="icob github" aria-hidden="true" title="github discussion"></i></a>
           <a target="_blank" href="https://www.youtube.com/channel/UCcXJ1ZsjEvQxuWJy7gH-A6w/?sub_confirmation=1" onclick="window.open(this.href, 'width=550,height=435');return false;" aria-label="{{ menu.share.youtube[page.locale].name }}"><i class="icob youtube" aria-hidden="true" title="youtube"></i></a>
           <a target="_blank" href="https://discord.gg/FaK6MuZ2" onclick="window.open(this.href, 'width=550,height=435');return false;" aria-label="{{ menu.share.discord[page.locale].name }}"><i class="icob discord" aria-hidden="true" title="discord"></i></a>
           <a href="{{ site.baseurl }}/{{ page.locale | slice: 0,2 }}/feed.xml" target="_blank" alt="feed rss" aria-label="{{ menu.share.rss[page.locale].name }}"><i class="icob rss" aria-hidden="true" title="feed rss haade"></i></a>
           <!-- <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;" aria-label="{{ menu.share.facebook[page.locale].name }}"><i class="icob facebook-f" aria-hidden="true" title="facebook"></i></a> -->
         </div>
     </div>
     {%- endif %}
   </div>
   <div class="footbottom">
     <p>Copyright © {{ site.time | date: "%Y" }} <a target="_blank" href="https://www.haade.fr">{{ site.name }}</a> 🎉 by Nicoxygen</p>
   </div>
 </footer>
