{%- assign giscus = site.giscus %}
{%- if giscus.repo %}
  <script src="https://giscus.app/client.js"
          data-repo={{ giscus.repo }}
          data-repo-id={{ giscus.repo-id }}
          data-category={{ giscus.category }}
          data-category-id={{ giscus.category-id }}
          data-mapping={{ giscus.mapping }}
          data-reactions-enabled={{ giscus.reaction-enabled }}
          data-emit-metadata={{ giscus.emit-metadata }}
          data-theme={{ giscus.theme }}
          data-input-position={{ giscus.position }}
          data-loading={{ giscus.loading }}
          data-lang={{ page.locale | slice: 0,2 }}
          crossorigin={{ giscus.crossorigin }}
          async>
  </script>
{%- endif %}
