<div class="hero-container">
  <div class="left">
    {%- assign latest_posts = site.posts | where:'locale', page.locale | where: 'published', true | where: 'layout', 'post' %}
    {%- for latest_post in latest_posts limit:1 %}
    <div class="pickgradient">
      <a href="{{site.baseurl}}{{latest_post.url}}">
        {% picture herofirst posts/{{ latest_post.guid }}/{{ latest_post.image }} --alt {{ latest_post.description }} --img class="hero-image" %}
      </a>
      </div>
      <div class="hero-text latest">
      {%- if latest_post.categories != empty %}
      {%- assign sortedCategories = latest_post.categories | sort: "first" %}
      {%- for category in sortedCategories limit:2 %}
      {%- if page.locale == "fr_FR" %}
      <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/categorie/{{ category | slugify }}">{{ category }}</a>
      {%- elsif page.locale == "en_GB" %}
      <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/category/{{ category | slugify }}">{{ category }}</a>
      {%- endif %}
      {%- endfor %}
      {%- else %}
      {%- unless latest_post.tags == empty %}
      {%- assign sortedTags = latest_post.tags | sort: "first" %}
      {%- for tag in sortedTags limit:2 %}
      <a class="hero-tags" href="{{site.baseurl}}/tags#{{ tag | slugify | replace: " ","-" }}">{{ tag }}</a>
      {%- endfor %}
      {%- endunless %}
      {%- endif %}
      <br />
      <a href="{{site.baseurl}}{{latest_post.url}}"><span class="header_title latest">{{ latest_post.title | truncate: 100 }}</span></a>
      {%- if latest_post.author %}
      {%- assign latest_post.author = author.name %}
      <span class="hero-author">
        <span class="hero-post-author font-weight-bold">{{ latest_post.author }}</span>
        {%- endif %}
        <span class="hero-post-date">-&nbsp;{%- include date.html date=latest_post.date %}</span>
</span>
      </div>
      {%- endfor %}
    </div>
  <div class="right">
    <div class="second">
      {%- assign second_posts = site.posts | where:'locale', page.locale | where: 'published', true | where: 'layout', 'post' %}
      {%- for second_post in second_posts limit:1 offset:1 %}
      <div class="pickgradient">
        <a href="{{site.baseurl}}{{second_post.url}}">
          {% picture herotwo posts/{{ second_post.guid }}/{{ second_post.image }} --alt {{ second_post.description }} --img class="hero-image" %}        
        </a>
      </div>
        <div class="hero-text second">
          {%- if second_post.categories != empty %}
          {%- assign sortedCategories = second_post.categories | sort: "first"  %}
          {%- for category in sortedCategories limit:1 %}
          {%- if page.locale == "fr_FR" %}
          <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/categorie/{{ category | slugify }}">{{ category }}</a>
          {%- elsif page.locale == "en_GB" %}
          <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/category/{{ category | slugify }}">{{ category }}</a>
          {%- endif %}
          {%- endfor %}
          {%- else %}
          {%- unless second_post.tags == empty %}
          {%- assign sortedTags = second_post.tags | sort: "first" %}
          {%- for tag in sortedTags limit:1 %}
          <a class="hero-tags" href="{{site.baseurl}}/tags#{{ tag | slugify | replace: " ","-" }}">{{ tag }}</a>
          {%- endfor %}
          {%- endunless %}
          {%- endif %}
          <br />
        <a href="{{site.baseurl}}{{second_post.url}}"><span class="header_title second">{{ second_post.title | truncate: 60 }}</span></a>
        {%- if second_post.author %}
        <span class="hero-author">
          <span class="hero-post-author font-weight-bold">{{ second_post.author }}</span>
          {%- endif %}
          <span class="hero-post-date">-&nbsp;{%- include date.html date=second_post.date %}</span>
          </span>
        </div>
        {%- endfor %}
      </div>
    <div class="bottom-right">
      <div class="third">
        {%- assign third_posts = site.posts | where:'locale', page.locale | where: 'published', true | where: 'layout', 'post' %}
        {%- for third_post in third_posts limit:1 offset:2 %}
        <div class="pickgradient">
              <a href="{{site.baseurl}}{{third_post.url}}">
                {% picture heroend posts/{{ third_post.guid }}/{{ third_post.image }} --alt {{ third_post.description }} --img class="hero-image" %}        
              </a>
              </div>
          <div class="hero-text thirdfour">
            {%- if third_post.categories != empty %}
            {%- assign sortedCategories = third_post.categories | sort: "first" %}
            {%- for category in sortedCategories limit:1 %}
            {%- if page.locale == "fr_FR" %}
            <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/categorie/{{ category | slugify }}">{{ category }}</a>
            {%- elsif page.locale == "en_GB" %}
            <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/category/{{ category | slugify }}">{{ category }}</a>
            {%- endif %}
            {%- endfor %}
            {%- else %}
            {%- unless third_post.tags == empty %}
            {%- assign sortedTags = third_post.tags | sort: "first" %}
            {%- for tag in sortedTags limit:1 %}
            <a class="hero-tags" href="{{site.baseurl}}/tags#{{ tag | slugify | replace: " ","-" }}">{{ tag }}</a>
            {%- endfor %}
            {%- endunless %}
            {%- endif %}
            <br />
        <a href="{{site.baseurl}}{{third_post.url}}"><span class="header_title thirdfour">{{ third_post.title | truncate: 60 }}</span></a>
          {%- if third_post.author %}
          <span class="hero-author">
            <span class="hero-post-author font-weight-bold">{{ third_post.author }}</span>
            {%- endif %}
            <span class="hero-post-date">-&nbsp;{%- include date.html date=third_post.date %}</span>
            </span>
        </div>
        {%- endfor %}
      </div>
      <div class="four">
        {%- assign four_posts = site.posts | where:'locale', page.locale | where: 'published', true | where: 'layout', 'post' %}
        {%- for four_post in four_posts limit:1 offset:3 %}
        <div class="pickgradient">
              <a href="{{site.baseurl}}{{four_post.url}}">
                {% picture heroend posts/{{ four_post.guid }}/{{ four_post.image }} --alt {{ four_post.description }}  --img class="hero-image" %}        
          </a>
          </div>
          <div class="hero-text thirdfour">
            {%- if four_post.categories != empty %}
            {%- assign sortedCategories = four_post.categories | sort: "first" %}
            {%- for category in sortedCategories limit:1 %}
            {%- if page.locale == "fr_FR" %}
            <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/categorie/{{ category | slugify }}">{{ category }}</a>
            {%- elsif page.locale == "en_GB" %}
            <a class="hero-categories {{category | downcase}}" href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/category/{{ category | slugify }}">{{ category }}</a>
            {%- endif %}
            {%- endfor %}
            {%- else %}
            {%- unless four_post.tags == empty %}
            {%- assign sortedTags = four_post.tags | sort: "first" %}
            {%- for tag in sortedTags limit:1 %}
            <a class="hero-tags" href="{{site.baseurl}}/tags#{{ tag | slugify | replace: " ","-" }}">{{ tag }}</a>
            {%- endfor %}
            {%- endunless %}
            {%- endif %}
            <br />
          <a href="{{site.baseurl}}{{four_post.url}}"><span class="header_title thirdfour">{{ four_post.title | truncate: 60 }}</span></a>
          {%- if four_post.author %}
          <span class="hero-author">
            <span class="hero-post-author font-weight-bold">{{ four_post.author }}</span>
            {%- endif %}
            <span class="hero-post-date">-&nbsp;{%- include date.html date=four_post.date %}</span>
            </span>
        </div>
        {%- endfor %}
        </div>
    </div>
  </div>
</div>