<div class="col-lg-10 offset-lg-1">
  <div class="card-columns">
    <div class="card">
      <img src="{{ site.baseurl}}/assets/images/posts/gallery/hormann/1.webp" class="card-img-top" alt="Domotiser sa porte de garage avec un moteur hormann supramatic e3">
    </div>
    <div class="card">
      <img src="{{ site.baseurl}}/assets/images/posts/gallery/hormann/6.webp" class="card-img-top" alt="démontage du moteur de porte de garage afin d’accéder à la carte">
    </div>
    <div class="card">
      <img src="{{ site.baseurl}}/assets/images/posts/gallery/hormann/3.webp" class="card-img-top" alt="branchement du yunshan no nc sur les entrées du bouton poussoir externe">
    </div>
    <div class="card">
      <img src="{{ site.baseurl}}/assets/images/posts/gallery/hormann/4.webp" class="card-img-top" alt="branchement test du yunshan esp8266">
    </div>
    <div class="card">
      <img src="{{ site.baseurl}}/assets/images/posts/gallery/hormann/5.webp" class="card-img-top" alt="entrée contacteur pour bouton poussoir">
    </div>
    <div class="card">
      <img src="{{ site.baseurl}}/assets/images/posts/gallery/hormann/2.webp" class="card-img-top" alt="connecteur type molex prévu par hormann pour brancher une batterie supplémentaire fourni du 24v">
    </div>
  </div>
</div>
