<div class="col-lg-10 offset-lg-1">
  <div class="card-columns">
    <div class="card">
      {% picture posts/gallery/hormann/1.jpg --alt Domotiser sa porte de garage avec un moteur hormann supramatic e3 --img class="card-img-top" %}
    </div>
    <div class="card">
      {% picture posts/gallery/hormann/6.jpg --alt démontage du moteur de porte de garage afin d’accéder à la carte --img class="card-img-top" %}
    </div>
    <div class="card">
      {% picture posts/gallery/hormann/3.jpg --alt branchement du yunshan no nc sur les entrées du bouton poussoir externe --img class="card-img-top" %}
    </div>
    <div class="card">
      {% picture posts/gallery/hormann/4.jpg --alt branchement test du yunshan esp8266 --img class="card-img-top" %}
    </div>
    <div class="card">
      {% picture posts/gallery/hormann/5.jpg --alt entrée contacteur pour bouton poussoir --img class="card-img-top" %}
    </div>
    <div class="card">
      {% picture posts/gallery/hormann/2.jpg --alt connecteur type molex prévu par hormann pour brancher une batterie supplémentaire fourni du 24v --img class="card-img-top" %}
    </div>
  </div>
</div>
