<div class="productbox">
  <div class="product-small-img">
    {%- for pictures in images | limit:5 %}
        {%- if site.lazyimages == "enabled" %}
        <img itemprop="image" class="gallery-image lazyimg {%- if page.imageshadow %} image-shadow {%- endif %}" src="data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{%- if pictures contains "://" %}{{ pictures }}{%- else %}{{site.url}}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" href="{%- if pictures contains "://" %}{{ pictures }}{%- else %}{{site.url}}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
        {%- else %}
        <img itemprop="image" class="gallery-image {%- if page.imageshadow %} image-shadow {%- endif %}" src="{%- if pictures contains "://" %}{{ pictures }}{%- else %}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" href="{%- if page.image contains "://" %}{{ images }}{%- else %}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
        {%- endif %}
        {%- endfor %}

  </div>
<div class="img-product-container">
  {%- for pictures in images | offset:0 limit:1 %}
  {%- if site.lazyimages == "enabled" %}
  <img itemprop="image" id="imageBox" class="lazyimg {%- if page.imageshadow %} image-shadow {%- endif %}" src="data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{%- if pictures contains "://" %}{{ pictures }}{%- else %}{{site.url}}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" href="{%- if pictures contains "://" %}{{ pictures }}{%- else %}{{site.url}}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
  {%- else %}
  <img itemprop="image" id="imageBox" class="{%- if page.imageshadow %} image-shadow {%- endif %}" src="{%- if pictures contains "://" %}{{ pictures }}{%- else %}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" href="{%- if page.image contains "://" %}{{ pictures }}{%- else %}{{ site.baseurl }}/assets/images/posts/{{ page.guid }}/{{ page.image }}{{ cachebuster }}{%- endif %}" alt="{{ page.title }}">
  {%- endif %}
  {%- endfor %}
</div>
</div>

<style>
  .product-small-img img {
    height: auto;
    width: 60px;
    margin: 3px 0;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 0;
  }

  .product-small-img img:hover {
    opacity: 1;
  }

  .product-small-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 400px;
  }
  .productbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .img-product-container {
    height: auto;
    width: 400px;
    display: flex;
    padding: 3px 0 10px 10px;
  }

  .img-product-container img {
    border-radius: 5px;
  }

  @media (max-width: 1024px) {}
  </style>

  <script>
$(document).ready(function(){
$('.gallery-image').on('click', function(){
  var imgURL = $(this).attr('src');
  $('#imageBox').attr('src', imgURL)
  });
});
    </script>
