<!-- begin post -->
{%- if post.layout == 'post' %}
<div class="blog-grid-item">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {%- if post.youtubevideo %}
                <div class="embed-container">
                    <iframe data-src="https://www.youtube.com/embed/{{ post.youtubevideo }}"
                    class="lazyload"
                    width="560" height="315" 
                    title="{{ post.title }}" 
                    frameborder="0" 
                    allowfullscreen="true">
                    </iframe>
                </div>
                {%- elsif post.image %}
                {%- if post.image contains "://" %}{{ post.image }}{%- else %}{% picture box posts/{{ post.guid }}/{{
                post.image }} --alt {{ post.title }} %}{%- endif %}
                {%- endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {%- if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                    {%- include star_rating_postbox.html %}
                </div>
                {%- endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {%- if post.authors %}
                {%- assign authors_count = post.authors | size %}
                {%- for author_id in post.authors %}
                {%- assign author = site.data.authors[author_id] %}
                <span class="meta-footer-thumb">
                    {%- if author.avatar %}
                    {% picture avatar {{ author.avatar }} --alt {{ author.display_name }} --img width="40" height="40"
                    %}
                    {%- else %}
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=40&d=mm&r=x"
                        alt="{{ author.display_name }}">
                    {%- endif %}
                </span>
                <span class="author-meta">
                    {%- if page.locale == "en_GB" %}
                    <a href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/author-{{ author.name | slugify }}"><span
                            class="post-name font-weight-bold">{{ author.display_name }}</span></a>
                    {%- elsif page.locale == "fr_FR" %}
                    <a href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/auteur-{{ author.name | slugify }}"><span
                            class="post-name font-weight-bold">{{ author.display_name }}</span></a>
                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                    {%- if post.last_modified_at != nil %}
                    <span class="post-date">{%- include date.html date=post.last_modified_at %}</span>
                    {%- else %}
                    <span class="post-date">{%- include date.html date=post.date %}</span>
                    {%- endif %}
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{%- elsif product.layout == 'product' %}
<div class="blog-grid-item">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ product.url }}">
                {%- if product.image %}
                {%- if product.image contains "://" %}{{ product.image }}{%- else %}{% picture box shop/{{ product.guid
                }}/{{ product.image }} --alt {{ product.title }} %}{%- endif %}
                {%- endif %}

            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ product.url }}">{{ product.title }}</a>
                {%- if product.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                    {%- include star_rating_postbox.html %}
                </div>
                {%- endif %}
            </h2>
            <h4 class="card-text">{{ product.excerpt | strip_html | truncatewords:30 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {%- if product.authors %}
                {%- assign authorshop = site.data.authors[product.authors] %}
                <span class="meta-footer-thumb">
                    {%- if authorshop.avatar %}
                    {% picture avatar {{ authorshop.avatar }} --alt {{ authorshop.display_name }} --img width="40"
                    height="40" %}
                    {%- else %}
                    <img class="author-thumb"
                        src="https://www.gravatar.com/avatar/{{ authorshop.gravatar }}?s=40&d=mm&r=x"
                        alt="{{ authorshop.display_name }}">
                    {%- endif %}
                </span>
                <span class="author-meta">
                    {%- if page.locale == "en_GB" %}
                    <a href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/author-{{ authorshop.name | slugify }}"><span
                            class="post-name font-weight-bold">{{ authorshop.display_name }}</span></a>
                    {%- elsif page.locale == "fr_FR" %}
                    <a href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/auteur-{{ authorshop.name | slugify }}"><span
                            class="post-name font-weight-bold">{{ authorshop.display_name }}</span></a>
                    {%- endif %}
                    {%- endif %}
                    <span class="post-date">{%- include date.html date=product.date %}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{%- endif %}
<!-- end post -->