<!-- begin post -->
{%- assign author = site.data.authors[post.author] %}
<div class="blog-grid-item">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
              {%- if post.guid <= 999 %}
                {%- if post.image %}
                {%- if post.image contains "://" %}{{ post.image }}{%- else %}{% picture box posts/{{ post.guid }}/{{ post.image }} --alt {{ post.title }} %}{%- endif %}
                {%- endif %}
                {%- elsif page.guid >= 2000 %}
                {%- if post.image %}
                        {%- if post.image contains "://" %}{{ post.image }}{%- else %}{% picture box shop/{{ post.guid }}/{{ post.image }} --alt {{ post.title }} %}{%- endif %}
                {%- endif %}
              {%- endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {%- if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                  {%- include star_rating_postbox.html %}
                </div>
                {%- endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {%- if post.author %}
                <span class="meta-footer-thumb">
                {%- if author.avatar %}
                {% picture avatar {{ author.avatar }} --alt {{ author.display_name }} --img class="author-thumb" %}
                {%- else %}
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=40&d=mm&r=x" alt="{{ author.display_name }}">
                {%- endif %}
                </span>
                <span class="author-meta">
                <a href="{{site.baseurl}}/author-{{ author.name | slugify }}"><span class="post-name font-weight-bold">{{ author.display_name }}</span></a>
                {%- endif %}
                <span class="post-date">{%- include date.html date=post.date %}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
