<div class="productbox">
    <div class="product-small-img">
      {%- for item in page.images | limit:5 %}
  {%- picture shop shop/{{ page.guid }}/{{ item.image }} --alt {{ item.title }} --img class="gallery-image" itemprop="image" %}
{%- endfor %}  
    </div>
  <div class="img-product-container">
    {%- for item in page.images | offset:0 limit:1 %}
    {%- if page.imageshadow %}
    {%- picture shop shop/{{ page.guid }}/{{ item.image }} --alt {{ item.title }} --img id="imageBox" class="image-shadow" style="width:400px; height:auto;" itemprop="image" %}
{%- else %}
{%- picture shop shop/{{ page.guid }}/{{ item.image }} --alt {{ item.title }} --img id="imageBox" style="width:425px; height:auto;" itemprop="image" %}
{%- endif %}
    {%- endfor %}
  </div>
  </div>
  
  <style>
    .product-small-img img {
      height: auto;
      width: 60px;
      margin: 3px 0;
      cursor: pointer;
      opacity: 0.6;
      border-radius: 0;
    }
  
    .product-small-img img:hover {
      opacity: 1;
    }
  
    .product-small-img {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      max-height: 425px;
    }
    .productbox {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .img-product-container {
      height: auto;
      width: 425px;
      display: flex;
      padding: 3px 0 10px 10px;
    }
  
    .img-product-container img {
      border-radius: 5px;
    }
  
    @media (max-width: 1024px) {}
    </style>
  
    <script>
  $(document).ready(function(){
  $('.gallery-image').on('click', function(){
    var imgURL = $(this).attr('data-src');
    $('#imageBox').attr('data-src', imgURL)
    });
  });
      </script>
  