{%- assign translate = site.data.locales.translate %}
{%- assign products = site.products | where:'guid', include.guid | where:'locale', page.locale | where: 'published', true %}
{%- if include.guid %}
{%- for product in products %}
<div class="embedproduct">
    <div class="embedproduct-picture">
        {% picture shop/{{ include.guid }}/{{ product.image }} 1:1 center --alt {{ product.description }} --img width="250" height="250" %}
    </div>
    <div class="text">
        <div class="embedproduct-info">
            <h2 class="no_toc">{{ product.title }}</h2>
            <h3 class="no_toc">{{ translate.by[page.locale] }} {{ product.brand }}</h3>
            <p>{{ product.description }}</p>
        </div>
        <div class="embedproduct-price">
            {% if product contains currency %}
            <p><span>{{ product.price }}</span>{{ product.currency }}</p>
            {%- endif %}
            <div class="embedaffiliate">
            <span class="haadebutton" role="button"><a href="{{ product.url | relative_url }}">{{ translate.product.buttonbuy[page.locale] }}</a></span>
        </div>
    </div>
</div>
</div>
{%- endfor %}
{%- else %}
<div class="embedproduct">
    <div class="embedproduct-picture">
        {%- if include.image contains "://" %}<img class="pictinpost lazyimg" width="250" height="250" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ include.image }}" alt="{{ product.description }}" >{%- else %}{% picture posts/{{ page.guid }}/{{ include.image }} 1:1 center --alt {{ include.description }} --img width="250" height="250" %}{%- endif %}
    </div>
    <div class="text">
        <div class="embedproduct-info">
            <h2 class="no_toc">{{ include.title }}</h2>
            <h3 class="no_toc">{{ translate.by[page.locale] }} {{ include.brand }}</h3>
            <p>{{ include.description }}</p>
        </div>
        <div class="embedproduct-price">
            {%- if product contains currency %}
            <p><span>{{ include.price}}</span>{{ include.currency }}</p>
            {%- endif %}
            <div class="embedaffiliate">
            {%- if include.affiliate %}
            <span class="aliexbutton" role="button"><a href="https://s.click.aliexpress.com/e/{{ include.affiliate }}" target="_blank" rel="nofollow noopener">{{ translate.product.buttonbuy[page.locale] }}<br>{{ translate.product.outof[page.locale] }} Aliexpress</a></span>
            {%- endif %}
            {% if include.domlink %}
            <span class="dombutton" role="button"><a href="https://www.domadoo.fr/fr/{{ include.domlink }}?domid=39" target="_blank" rel="nofollow noopener">{{ translate.product.buttonbuy[page.locale] }}<br>{{ translate.product.outof[page.locale] }} Domadoo</a></span>
            {%- endif %}
        </div>
        </div>
    </div>
</div>
{%- endif %}
