<div class="right-bar">
<div class="publicity">
  {% if page.locale == 'fr_FR' %}
<a href="https://s.click.aliexpress.com/e/_DBqKMFz?bz=300*250" target="_blank"><img width="300" height="250" src="//ae01.alicdn.com/kf/H68ac12bef9024309b8cb9f0d27f34672w.gif" /></a></div>
{% elsif page.locale == 'en_GB' %}
<a href="https://s.click.aliexpress.com/e/_DEOHo9Z?bz=500*500" target="_blank"><img width="500" height="500" src="//ae01.alicdn.com/kf/H868bbda94c4b4847b65df96e5832da28m.png" /></a>
{% endif %}
<div class="featured"></div>
</div>
