<div class="right-bar">
<div class="publicity">
  {%- if page.locale == 'fr_FR' %}
<a href="https://s.click.aliexpress.com/e/_Ddju7cn?bz=300*250" target="_blank" rel="sponsored"><img class="lazyimg" alt="Publicité aliexpress" width="300" height="250" data-src="{{site.url}}{{ site.baseurl }}/assets/images/pub/fr/aliexpress.webp" /></a>
{%- elsif page.locale == 'en_GB' %}
<a href="https://s.click.aliexpress.com/e/_DER3Gwn?bz=300*250" target="_blank" rel="sponsored"><img class="lazyimg" alt="aliexpress publicity" width="300" height="250" data-src="{{site.url}}{{ site.baseurl }}/assets/images/pub/en/aliexpress.webp" /></a>
{%- endif %}
</div>
<div class="featured"></div>
</div>