<div class="right-bar">
<div class="publicity">
  {%- if page.locale == 'fr_FR' %}
<a href="https://www.domadoo.fr/fr/73-black-friday-domotique?domid=39" target="_blank" rel="sponsored"><img class="lazyimg" alt="Domadoo Black friday 2023" width="300" height="250" data-src="{{ site.baseurl }}/assets/images/pub/fr/domadoo_black_friday_2023.webp" /></a>
<a href="https://moeshouse.com/" target="_blank" rel="sponsored"><img class="lazyimg" alt="Moes black friday -30%" width="300" height="250" data-src="{{ site.baseurl }}/assets/images/pub/fr/black_friday_moes_2023.webp" /></a>
<a href="https://s.click.aliexpress.com/e/_DC1K1e7?bz=300*250" target="_blank" rel="sponsored"><img class="lazyimg" alt="Publicité aliexpress" width="300" height="250" data-src="{{ site.baseurl }}/assets/images/pub/fr/Sde5a7328a0454eeb80c59ec0f86c66a4i.webp" /></a>
{%- elsif page.locale == 'en_GB' %}
<a href="https://www.domadoo.fr/en/73-black-friday-domotique?domid=39" target="_blank" rel="sponsored"><img class="lazyimg" alt="Domadoo Black friday 2023" width="300" height="250" data-src="{{ site.baseurl }}/assets/images/pub/en/domadoo_black_friday_2023.webp" /></a>
<a href="https://moeshouse.com/" target="_blank" rel="sponsored"><img class="lazyimg" alt="Moes black friday -30%" width="300" height="250" data-src="{{ site.baseurl }}/assets/images/pub/fr/black_friday_moes_2023.webp" /></a>
<a href="https://s.click.aliexpress.com/e/_DBOE5K3?bz=300*250" target="_blank" rel="sponsored"><img class="lazyimg" alt="aliexpress publicity" width="300" height="250" data-src="{{ site.baseurl }}/assets/images/pub/en/Sde5a7328a0454eeb80c59ec0f86c66a4i.webp" /></a>
{%- endif %}
</div>
<div class="featured"></div>
</div>