<script src="{{site.baseurl}}{{ '/assets/js/lunr.min.js' | cache_buster }}" type="text/javascript"></script>

<div class="search-box">
  <i class='fas fa-search'></i>
  <div class="input-box">
    <form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);" class="search-form" role="search">
      <input autocomplete="on" id="lunrsearch" class="search-input" name="q" maxlength="200" placeholder="{{ translate.search[page.locale] }}" type="search" value="">
      <input class="search-action" type="submit" value="Ok">
    </form>
  </div>
  <div id="lunrsearchresults">
      <ul></ul>
  </div>
</div>

{% assign lang = page.locale | default: "site.default_locale" | slice: 0,2 %}
<script src="{{site.baseurl}}{{ '/assets/js/lunrsearchengine-' | append: lang | append: '.js' | cache_buster }}"></script>
