{%- assign translate = site.data.locales.translate %}

<div class="secondheader">
<!-- Site Logo/Name
================================================== -->
{%- assign pages = site.pages | where: 'locale_reference', 'index' | where: 'locale', page.locale %}
{%- for page in pages limit:1 %}
<a class="navbar-brand" href="{{ site.baseurl }}{{ page.url | remove: 'index.html' }}">
    {% picture logo {{ site.logo.path }} --alt {{ site.logo.alt }} %}
</a>
{%- endfor %}


<!-- Site Tag
================================================== -->
    <p class="sitetag">
        {{ translate.site.description[page.locale] }}
    </p>

</div>
