{%- if page.layout == 'post' %}
<div class="rating-holder">
  <div class="Stars" style="--rating: {{page.rating}}; --star-background: #FF6600" title="{{ translate.product.ratingof[page.locale] }} {{page.rating}} {{ translate.product.outof[page.locale] }} 5."></div>
</div>
{%- elsif page.layout == 'product' %}
<div class="rating-holder">
<div class="Stars" style="--rating: {{star}};" title="{{ translate.product.ratingof[page.locale] }} {{star}} {{ translate.product.outof[page.locale] }} 5."></div>
</div>
{%- endif %}
