{% if page.collection != 'shop' %}
<div class="rating-holder">
  <div class="Stars" style="--rating: {{post.rating}}; --star-background: #FF6600" aria-label="Rating of this product is {{post.rating}} out of 5." title="{{ translate.product.ratingof[page.locale] }} {{post.rating}} {{ translate.product.outof[page.locale] }} 5."></div>
</div>
{% else %}
<div class="Stars" style="--rating: {{post.star}};" aria-label="Rating of this product is {{post.star}} out of 5." title="{{ translate.product.ratingof[page.locale] }} {{post.star}} {{ translate.product.outof[page.locale] }} 5."></div>
{% endif %}
