{% if page.layout != 'shop' %}
<div class="rating-holder">
  <div class="Stars" style="--rating: {{post.rating}}; --star-background: #FF6600" aria-label="Rating of this product is {{post.rating}} out of 5." title="{{ translate.product.ratingof[page.locale] }} {{post.rating}} {{ translate.product.outof[page.locale] }} 5."></div>
</div>
{% elsif page.layout == 'shop' %}
<div class="Stars" style="--rating: {{rating}};" aria-label="Rating of this product is {{rating}} out of 5." title="{{ translate.product.ratingof[page.locale] }} {{rating}} {{ translate.product.outof[page.locale] }} 5."></div>
{% endif %}
