@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.woff2?4fpajq") format("woff2"),
    url("../fonts/icomoon/icomoon.woff?4fpajq") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ico {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "icomoon";
  font-weight: 500;
}

.icob {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: inherit;
  font-family: "icomoon";
  font-weight: 400;
}

.icor {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "icomoon";
  font-weight: 400;
}

.icos {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: inherit;
  font-family: "icomoon";
  font-weight: 500;
}

.laugh-solid {
  &:before {
    content: "\e91a";
  }
}

.file-archive-regular {
  &:before {
    content: "\e90f";
  }
}

.file-excel-regular {
  &:before {
    content: "\e911";
  }
}

.file-csv-solid {
  &:before {
    content: "\e910";
  }
}

.file-word-regular {
  &:before {
    content: "\e913";
  }
}

.file-pdf-regular {
  &:before {
    content: "\e912";
  }
}

.phone-alt-solid {
  &:before {
    content: "\e901";
  }
}

.map-marker-alt-solid {
  &:before {
    content: "\e900";
  }
}

.eye-solid {
  &:before {
    content: "\e917";
  }
}

.external-link-alt-solid {
  &:before {
    content: "\e916";
  }
}

.angle-right-solid {
  &:before {
    content: "\e90d";
  }
}

.times-solid {
  &:before {
    content: "\e90b";
  }
}

.bars-solid {
  &:before {
    content: "\e90a";
  }
}

.phone-volume-solid {
  &:before {
    content: "\e903";
  }
}

.check-circle-solid {
  &:before {
    content: "\e905";
  }
}

.times-circle-solid {
  &:before {
    content: "\e909";
  }
}

.info-circle-solid {
  &:before {
    content: "\e907";
  }
}

.question-circle-solid {
  &:before {
    content: "\e908";
  }
}

.exclamation-circle-solid {
  &:before {
    content: "\e906";
  }
}

.search-solid {
  &:before {
    content: "\e91c";
  }
}

.facebook-f {
  &:before {
    content: "\e918";
  }
}

.angle-down-solid {
  &:before {
    content: "\e90c";
  }
}

.envelope-solid {
  &:before {
    content: "\e915";
  }
}

.link-solid {
  &:before {
    content: "\e91b";
  }
}

.comments-solid {
  &:before {
    content: "\e90e";
  }
}

.github {
  &:before {
    content: "\e919";
  }
}

.youtube {
  &:before {
    content: "\e91e";
  }
}

.twitter {
  &:before {
    content: "\e91d";
  }
}

.discord {
  &:before {
    content: "\e914";
  }
}

.amazon {
  &:before {
    content: "\e904";
  }
}

.history {
  &:before {
    content: "\e91f";
  }
}

.calendar-check {
  &:before {
    content: "\e902";
  }
}

.rss {
  &:before {
    content: "\e920";
  }
}
