---
layout: default
post_class: post-template
---

{%- assign goatcounter = site.goatcounter_analytics %}

<!-- Goatcounter script -->
<script>
    var r = new XMLHttpRequest();
    r.addEventListener('load', function() {
        document.getElementById('visits').innerText = JSON.parse(this.responseText).count
    })
    r.open('GET', 'https://{{ goatcounter.id }}.goatcounter.com/counter/' + encodeURIComponent(location.pathname) + '.json')
    r.send()
</script>

{%- assign translate = site.data.locales.translate %}

<div class="entry-header">
  <!-- breadcrumbs -->
  {%- include breadcrumbs.html path=page.path title=page.title %}

    <!-- Post Title -->
    <h1 class="posttitle">{{ page.title }}</h1>
    <!-- Author & Date  Box -->
    {%- assign author = site.data.authors[page.author] %}
    {%- if page.author %}
    <div class="d-flex align-items-start mt-4">
        <div class="authorpost">
            {%- if author.avatar %}
            {% picture avatar70 {{ author.avatar }} --alt {{ author.display_name }} --link {{site.baseurl}}/{{ page.locale | slice: 0,2 }}/author-{{ author.name | slugify }} --img width="60" height="60" %}
            {%- else %}
            <a href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/author-{{ author.name | slugify }}"><img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=50&d=mm&r=x" alt="{{ author.display_name }}"></a>
            {%- endif %}
        </div>
        <div class="readingpost">
        {{ translate.writting[page.locale] }} <a href="{{site.baseurl}}/{{ page.locale | slice: 0,2 }}/author-{{ author.name | slugify }}"><b>{{ author.display_name }},</b></a> {{ translate.the[page.locale] }}
        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%d-%m-%Y" }}">{%- include date.html date=page.date %},</time></span>
        {%- if page.last_modified_at != nil %}
        <br>{{ translate.update[page.locale] }} {{ translate.the[page.locale] }} <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{%- include date.html date=page.last_modified_at %}</time>
        {%- endif %}
        <br>
        <span>{%- include read-time.html content=content %}</span>
        {%- if goatcounter.id %}
        <p><i class="icos eye-solid" width="1em" height="1em"></i> {{ translate.count[page.locale] }} <span id="visits" style="font-weight:bold">...</span> {{ translate.times[page.locale] }}.</p>
        {%- endif %}
        </div>
    </div>
    {%- endif %}
</div>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{%- if site.adsense == "enabled" %}
    {%- include adsense-under-header.html %}
{%- endif %}

<!-- Featured Image -->
{%- include featured-image.html %}

<!-- Content -->
{%- include article.html %}

{%- if page.sourcelink %}
{% include sourcelink.html %}
{%- endif %}

<!-- Rating -->
{%- if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">{{ translate.product.rating[page.locale] }}:</strong> {%- include star_rating.html %}
</div>
{%- endif %}

<!-- affiliate-links -->
{% capture amazon %}{{ content | has_amazon }}{% endcapture %}
{% capture aliexpress %}{{ content | has_aliexpress }}{% endcapture %}
{% capture domadoo %}{{ content | has_domadoo }}{% endcapture %}
<!-- {% if amazon == 'true' or aliexpress == 'true' or domadoo == 'true' %}{% include affiliate-links.html %}{% endif %} -->




<!-- Author Box if enabled from _config.yml -->
{%- include author-box.html %}

<!-- Comments if not disabled with comments: false -->
{%- include comments.html %}

<!-- Related Post -->
{%- include related-posts.html %}
