---
layout: default
post_class: post-template
---

<!-- {% assign cachebuster = page.last_modified_at | date:'?v=%s' %} -->
{% assign translate = site.data.locales.translate %}

<!-- breadcrumbs -->
{% include breadcrumbs.html path=page.path title=page.title %}

<div class="shop-single">

  {%- if page.locale == 'fr_FR' %}
  {%- assign localscrapers = site.data.aliexpress.fr_FR.scrapers %}
  {%- else %}
  {%- assign localscrapers = site.data.aliexpress.en_GB.scrapers %}
  {%- endif %}
  {%- for scraper_hash in localscrapers %}
  {%- assign scrap = scraper_hash[1] %}
  {%- assign scraper = scrap.product %}
  {%- if scraper.productId == page.item %}

  <div class="shop-pictures">
{%- assign images = scraper.images %}
<!-- Featured Image -->
{% include imagegallery.html %}

{%- assign store = scraper.storeInfo %}
{%- assign reseller = store.name %}
{%- assign resellernr = store.storeNumber %}
{%- assign resellerstar = store.rating %}
{%- assign resellerfw = store.followers %}
<div class="reseller">
<div class="reseller-name"><strong class="mr-1">{{ translate.product.reseller[page.locale] }}:</strong><a href="https://www.aliexpress.com/store/{{ resellernr }}">{{ reseller }}</a></div>
<div class="reseller-name"><strong class="mr-1">{{ translate.product.feedback[page.locale] }}:</strong>{{ resellerstar }}</div>
<div class="reseller-name"><strong class="mr-1">{{ translate.product.follower[page.locale] }}:</strong>{{ resellerfw }}</div>
</div>
</div>
<div class="shop-article">
{%- assign scraptitle = scraper.title | strip_html %}

<h1 class="posttitle">{{ scraptitle | truncatewords: 9 }}</h1>

{%- assign rating = scraper.ratings %}
{%- assign star = rating.averageStar %}
{%- assign price = scraper.salePrice.min %}
{%- assign originalprice = scraper.originalPrice.min %}
{%- assign currency = scraper.currency %}
{%- assign quantity = scraper.totalAvailableQuantity %}
{%- assign feedback = scraper.feedback %}

<!-- Rating -->
<div class="mt-4 mb-4 d-flex align-items-center">
  {% if star %}
  <div class="listscraper">
    <div class="itemscraper"><strong class="mr-1">{{ translate.update[page.locale] }}:</strong> {% include date.html date=site.time %}</div>
    <div class="itemscraper"><strong class="mr-1">{{ translate.product.rating[page.locale] }}:</strong> {% include star_rating.html %} <div class="totalrating">({{ rating.totalStartCount }} {{ translate.product.reviews[page.locale] }})</div></div>
    {% endif %}
    <div class="itemscraper"><strong class="mr-1">{{ translate.product.price[page.locale] }}:</strong> {{ price }} {{ currency }} <div class="originalprice">{{ originalprice }}</div></div>
    <div class="itemscraper"> <strong class="mr-1">{{ translate.product.quantity[page.locale] }}:</strong> {{ quantity }}</div>
  </div>
</div>
{% endif %}
{% endfor %}
{% include buttonshop.html %}

<!-- Content -->
{%- assign scrapdescription = scraper.description | strip_html %}

{% include article.html %}

{% include buttonshop.html %}

</div>
<!-- Comments if not disabled with comments: false -->
<div class="feedbackscraper">

  {% for vote in feedback %}
<ul>
  <li>{{ vote.name }}</li>
  <li>{{ vote.displayName }}</li>
  <li>{{ vote.rating }}</li>
  <li>{% include date.html date=vote.date %}</li>
  {% if vote.content != '' %}
  <li>{{ vote.content | strip_html }}</li>
  {% endif %}
</ul>
{% endfor %}
</div>
{% include comments.html %}
</div>

<style>
.reseller {
  border: 1px solid #eaeaea;
  padding: 3px 4px;
}
</style>
