---
layout: default
post_class: post-template
---

<!-- {% assign cachebuster = page.last_modified_at | date:'?v=%s' %} -->
{% assign translate = site.data.locales.translate %}

{% include scraper.html item=page.item %}

<!-- breadcrumbs -->
{% include breadcrumbs.html path=page.path title=page.title %}

<div class="shop-single">
  <div class="shop-pictures">

<!-- Featured Image -->
{% include featured-image.html %}
</div>
<div class="shop-article">
<h1 class="posttitle">{{ page.title }}</h1>
<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-left">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}
<!-- Content -->
{% include article.html %}

{% include buttonshop.html %}

</div>
<!-- Comments if not disabled with comments: false -->
{% include comments.html %}
</div>

<style>
  .shop-single {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
  }

.shop-single .comments {
width: 100%;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}

  .shop-pictures {
    display: flex;
width: 40%;
height: auto;
  }

  .shop-article h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;
  }

  .shop-article h2 {
    font-size: 20px;
  }

  .shop-article {
    display: flex;
    width:60%;
    height: auto;
flex-direction: column;
}

.shop-article .rating {
  margin-left: 0px;
}

  .shop-article .article-post {
    font-size: 18px;
  }

  @media(max-width: 1024px) {
    .shop-single{
      flex-direction: column;
    }
    .shop-pictures {
      width: 100%;
    }
    .shop-article {
      width: 100%;
    }
  }



  </style>
